[project]
name = "vio"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0",
    "gunicorn>=23.0.0",
    "pillow>=12.0.0",
]

[dependency-groups]
dev = [
    "djlint>=1.36.4",
]
